#secondblog{
	.container{
		.row{
			.col-lg-4{
				.col-12{
					box-sizing:border-box;
					object-fit: contain;
					position: relative;
					.overlay{
						background: rgba(0,0,0, 0.4);
						height: 500px;
						width: 20%;
						z-index: 1;
						position: absolute;
						top:50%;
						left:50%;
						transform: translate(-50%,-50%);
						opacity: 0;
						overflow: hidden;
						
					}
					&:hover{
						overflow: hidden;
						.overlay{
							width: 100%;
							opacity: 1;
							transition: all .4s ease;
						}
						.a{
							opacity: 1;
							transition: all .4s ease;
						}
					}
					.corner{
						width: 65px;
						height: 65px;
						border-radius:50%;
						background: $colorGold;
						font-size: 20px;
						color: white;
						position: absolute;
						top: 5%;
						right: 5%;
						transform: translate(-5%,-5%);

					}
					.a{
						position: absolute;
						top:50%;
						left:50%;
						transform: translate(-50%,-50%);
						font-size: 45px;
						color: white;
						z-index: 2;
						opacity: 0;
						cursor:pointer;
					}
					h1{
						font-weight: 700;
						font-size: 25px;
						color: black;
						cursor:pointer;
						&:hover{
							color: $colorGold;
						}
					}
					p{
						line-height: 20px;
					}
					span{
						cursor:pointer;
						i{
							color:$colorGold;
							
						}
					}
					a{
						font-size: 14px;
						font-weight: 900;
						color:$colorGold;
						text-decoration: none;	
						i{
							
							transition: all .2s ease;
						}

						&:hover{
							i{
								padding-left: 5px;
								
							}

						}				
					}
				}

			}
		}
	}
}